/**
*
* @project    xuedesign studio
* @Author     Elmo Wu <hello@xuedesign.tw>
* @copyright  2016 xuedesign studio
* @version    v1.0 - 201610
*
*=====================================
*   1 通用
*   2.網站架構 
*   3.首頁
*       3-1. 主要內容區塊
*       3-2. 首頁選單
*       3-3. 版權列	
*=====================================
**/


/*
=====================================
通用設定
=====================================
*/
html { font-size:62.5%}
body{
	font-family: "微軟正黑體","Microsoft JhengHei","新細明體","PMingLiU", 'Arial', 'Helvetica', sans-serif;
	font-size: 1rem;
	line-height: 22px;
	color: #080404;
	background: url(../images/bg_site.jpg);
    /*background-size: cover*/}
/*a:link {text-decoration:underline; color:#00adee}
a:visited {text-decoration:underline; color:#8c8c8c}
a:hover {text-decoration:none; color:#F50}*/
form{margin:0; padding:0}
image{border:0}

.clean{ clear: both}
.hidden{ display: none}
::selection {
   background: #d06363;
   color: #fffcdb}
::-moz-selection {
   background: #d06363;
   color: #fffcdb}

/*
=====================================
網站架構
=====================================
*/
#wrap{
	display:block;
	width:100%;
	min-width:1350px}
#box_index{
	display:block;
    position: absolute;
    top: 50%;
    left: 50%;
	width: 1239px;
    min-height: 759px;
	background:url(../images/bg_index.png) no-repeat;
    margin: -380px 0 0 -620px;
	/*margin: 55px auto 0 auto ;*/
	-webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px}
#box_content-right{
	display:block;
    float: right;
	position:relative;
	width: 762px;
	height: 713px;
    background: url(../images/bg_cover.jpg) no-repeat;
    -webkit-border-radius: 0 15px 0 0;
    -moz-border-radius: 0 15px 0 0;
    border-radius: 0 15px 0 0}
#box_content-left{
    display: block;
    float: left}
footer{
	clear:both;
	display:block;
	position:relative;
	width:1238px;
	height:46px;
	background: url(../images/bg_footer.png) repeat-x;
	-webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px}

/*
=====================================
首頁
=====================================
*/

/*主要內容區塊 */
h1 a,
h2,
.subtitle-01,
.subtitle-02,
.slogan,
#btn_play a,
#element_triangle,
#element_circle,
#element_rectangle{   
    display:block;
	position:absolute}
h1 a,
h2,
.subtitle-01,
.subtitle-02,
.slogan,
#btn_play a{
    text-indent:100%;
    white-space: normal;
    overflow: hidden;
    font-size: 0}
h1 a{
	top: 25px;
	right: 27px;
	width: 223px;
	height: 50px;
	background: url(../images/pic_logo.png) no-repeat}
h2{
    top: 51px;
	left: 27px;
	width: 172px;
	height: 459px;
	background: url(../images/pic_title.png) no-repeat}
.subtitle-01{
    top: 222px;
	left: 213px;
	width: 151px;
	height: 137px;
	background: url(../images/pic_subtitle.png) no-repeat}
.subtitle-02{
    top: 411px;
	left: 213px;
	width: 181px;
	height: 83px;
	background: url(../images/pic_film-note.png) no-repeat}
.slogan{
    top: 201px;
	right: 205px;
    z-index: 150;
	width: 118px;
	height: 106px;
	background: url(../images/pic_slogan.png) no-repeat}
#btn_play a{
    top: 290px;
	right: 101px;
    z-index: 150;
	width: 80px;
	height: 18px;
	background: url(../images/btn_play-01.png) no-repeat}
#btn_play a:hover{
    background: url(../images/btn_play-01.png) 0 -18px no-repeat}
#element_triangle{
    bottom: 100px;
	right: 680px;
    z-index: 99;
	width: 131px;
	height: 87px;
	background: url(../images/pic_triangle.png) no-repeat}
#element_circle{
    top: 201px;
	right: 16px;
    z-index: 99;
	width: 288px;
	height: 288px;
	background: url(../images/pic_circle.png) no-repeat}
#element_rectangle{
    bottom: 51px;
	right: 190px;
	width: 536px;
	height: 565px;
	background: url(../images/pic_rectangle.png) no-repeat}


/*首頁選單 */		
#box_menu{
	display:block;
	position:absolute;
	bottom: 80px;
	left: 45px;
	width: 510px}
#box_menu ul{ 
    display:block; 
    margin:0; 
    padding:0}
#box_menu li{ 
    display: inline-block; 
    list-style: none;
    background: url(../images/bg_line-white.png) right no-repeat}
#box_menu li:nth-child(4){
    margin-left:38px}
#box_menu a{
    display: block;
	height:40px;
	text-indent:100%;
    white-space: normal;
    overflow: hidden;
    font-size: 0;
	background:url(../images/btn_nav.png) no-repeat;
	margin:0}
#box_menu a.nav_01{ width: 114px; background-position: 0 0}
#box_menu a.nav_01:hover{ background-position: 0 -40px}
#box_menu a.nav_02{ width: 112px; background-position: 0 -80px}
#box_menu a.nav_02:hover{ background-position: 0 -120px}
#box_menu a.nav_03{ width: 148px; background-position: 0 -160px}
#box_menu a.nav_03:hover{ background-position: 0 -200px}
#box_menu a.nav_04{ width: 111px; background-position: 0 -240px}
#box_menu a.nav_04:hover{ background-position: 0 -280px}
#box_menu a.nav_05{ width: 147px; background-position: 0 -320px}
#box_menu a.nav_05:hover{ background-position: 0 -360px}
#box_menu a.nav_06{ width: 112px; background-position: 0 -400px}
#box_menu a.nav_06:hover{ background-position: 0 -440px}
#box_menu a.nav_07{ width: 111px; background-position: 0 -480px}
#box_menu a.nav_07:hover{ background-position: 0 -520px}

/* 版權列 */					
footer p{
	text-align:center;
	font-size:1.3rem;
	color:#fff;
	margin:0;
	padding:0;
	line-height:46px}
footer .txt_mark{
	display:block;
	position:absolute;
	top:11px;
	right:48px;
	width:52px;
	height:24px;
	background:url(../images/pic_ad.png) no-repeat;
	text-indent:100%;
    white-space: normal;
    overflow: hidden}

/*動畫效果*/
/*.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both}
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite}
.animated.hinge {
  -webkit-animation-duration: 2s;
          animation-duration: 2s}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -15%, 0);
    transform: translate3d(0, -15%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -15%, 0);
    transform: translate3d(0, -15%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown{
  -webkit-animation-delay:1000ms;
	animation-delay:1000ms;	
   -webkit-animation-duration: 1500ms;
    -moz-animation-duration: 1500ms;
	animation-duration: 1500ms;	
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 15%, 0);
    transform: translate3d(0, 15%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 15%, 0);
    transform: translate3d(0, 15%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
 -webkit-animation-delay: 1000ms;
	animation-delay: 1000ms;	
   -webkit-animation-duration: 1800ms;
    -moz-animation-duration: 1800ms;
	animation-duration: 1800ms;	  
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
.fadeInUp-02 {
 -webkit-animation-delay: 6000ms;
	animation-delay: 6000ms;	
   -webkit-animation-duration: 2000ms;
    -moz-animation-duration: 2000ms;
	animation-duration: 2000ms;	  
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn-01{
 -webkit-animation-delay: 2800ms;
	animation-delay: 2800ms;	
   -webkit-animation-duration: 3500ms;
    -moz-animation-duration: 3500ms;
	animation-duration: 3500ms;	  
   -webkit-animation-name: fadeIn;
   animation-name: fadeIn;
}

.fadeIn-02{
 -webkit-animation-delay: 4000ms;
	animation-delay: 4000ms;	
   -webkit-animation-duration: 3500ms;
    -moz-animation-duration: 3500ms;
	animation-duration: 3500ms;	  
   -webkit-animation-name: fadeIn;
   animation-name: fadeIn;
}

@-webkit-keyframes breathe {
 0% {
   -webkit-box-shadow: 0 0 35px #0c49f7;
    -moz-box-shadow: 0 0 35px #0c49f7;
    box-shadow: 0 0 35px #0c49f7;}

  50% {
    -webkit-box-shadow: 0 0 95px #0c49f7;
    -moz-box-shadow: 0 0 95px #0c49f7;
    box-shadow: 0 0 95px #0c49f7;}
 100% {
   -webkit-box-shadow: 0 0 35px #0c49f7;
    -moz-box-shadow: 0 0 35px #0c49f7;
    box-shadow: 0 0 35px #0c49f7;}}

@keyframes breathe {
 0% {
   -webkit-box-shadow: 0 0 35px #0c49f7;
    -moz-box-shadow: 0 0 35px #0c49f7;
    box-shadow: 0 0 35px #0c49f7;}

  50% {
    -webkit-box-shadow: 0 0 95px #0c49f7;
    -moz-box-shadow: 0 0 95px #0c49f7;
    box-shadow: 0 0 95px #0c49f7;}
 100% {
   -webkit-box-shadow: 0 0 35px #0c49f7;
    -moz-box-shadow: 0 0 35px #0c49f7;
    box-shadow: 0 0 35px #0c49f7;}}

.mybreathe{
   -webkit-animation-duration: 3500ms;
    -moz-animation-duration: 3500ms;
	animation-duration: 3500ms;	  
   -webkit-animation-name: breathe;
   animation-name: breathe;
   -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite    
}*/
    
   
						