<!doctype html>
<html>
<head>
<meta charset="utf-8">
<!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">-->
<meta name="Author" content="xuedesign" />
<link rel="shortcut icon"  href="images/favicon.ico"/>
<link rel="icon" href="images/favicon.ico"/>
<title>【設計提案】練習‧愛 / 衛福部親職教育宣導影片</title>
<link href="http://www.xuedesign.tw/css/reset.css" rel="stylesheet">
<style>
    body{
        background: url(images/bg_site.jpg)}
    #wrap{
        display: block;
        width: 1238px;
        height: 759px;
        margin: 55px auto 0 auto ;
        /*background: url(images/pic_index.jpg) no-repeat*/}
</style>
<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!--[if IE 7]>
	<script src="http://letskillie6.googlecode.com/svn/trunk/2/zh_TW.js"></script>
<![endif]-->
</head>


<body>
    <div id="wrap"><img src="images/pic_index.jpg" alt="*" width="1238" height="759" usemap="#Map">
      <map name="Map">
        <area shape="rect" coords="33,622,121,666" href="playfilm-index.html">
        <area shape="rect" coords="155,623,249,667" href="photo.html">
        <area shape="rect" coords="278,622,404,671" href="content.html">
      </map>
    </div>

<!--Created by
  
   ##############               ###############   
    ##############             ###############    
    ##############             ##############     
     ##############           ##############      
      ##############          #############       
       #############         ##############       
        #############       ##############        
        ##############      #############         
         ###############################          
         ###############################          
        #################################         
        ##############     ##############         
       ##############       ##############        
       ##############        ##############       
      ##############         #######           
     ###############          ##############      
     ##############           ###############     
    ######      
    ##############              ##############    
   ##############               ##############
          
        【 開始設計工作室 xuedesign studio 】
                www.xuedesign.tw
-->         
</body>
</html>